
.contianer{
    display: flex;
    justify-content: center;
    padding: 8px;
  
    .form-contianer {
        border: 1px solid #000;
        margin: 16px;
        display: flex;
        flex-direction: column;
        background-color: #f8f8f8;
        padding: 16px;

        .form-field {
            width: 320px;
            .mat-form-field {
                width: 100%;
                margin: 0 16px;
            }

            &.form-field-btn {
                display: flex;
                width: 100%;
            
                .form-btn {
                    width: 140px;
                    margin:16px;
                }
            }
        }
    }   

}