
.contianer{
    display: flex;
    justify-content: center;
    position: relative;
    /* width: 100%; */
    /* align-items: center; */
    box-sizing: border-box;
    padding: 8px;
    &::after {
        position: absolute;
        content: "User Details";
        background: #f8f8f8;
        height: 16px;
        padding: 4px;

    }
  
    .form-contianer {
        border: 1px solid #000;
        margin: 16px 8px;
        display: flex;
        flex-direction: column;
        background-color: #f8f8f8;
        widows: auto;
        @media screen and (max-width: 600px){
            width: 98%;
        }


        .form-field {
            padding: 8px;
            .mat-form-field {
                width: 100%;
            }

            &.form-field-btn {
                display: flex;
                width: 100%;
            
                .form-btn {
                    width: 140px;
                    margin:16px;
                }
            }
        }
    }   

}