<div class="orders-container">
    <div [formGroup]='orderForm' class="form-container">
        <div class="form-field">
            <mat-form-field appearance="outline" >
                <mat-label>Card Number</mat-label>
                <input matInput formControlName ="cardNumber" required>
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field appearance="outline" >
                <mat-label>Card Hold Name</mat-label>
                <input matInput formControlName ="cardHolderName" required>
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field appearance="outline" >
                <mat-label>Expiry Date</mat-label>
                <input matInput formControlName ="expiryDate" required>
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field appearance="outline" >
                <mat-label>Card CVV</mat-label>
                <input matInput formControlName ="cardPin" required>
            </mat-form-field>
        </div>
        <div class="form-field form-field-btn">
            <button type="submit" mat-raised-button class="form-btn form-btn-submit" (click)="payNow()" [disabled]="!orderForm.valid">Pay Now</button>
        </div>
    </div>
</div>

