<mat-toolbar [appStickyHeader]='yellow' color="primary" class="nav-bar">
  <button (click)="toggleNav()" mat-icon-button class="navbar-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/">Shop&Go</span>
  <div  [className]="navToggle ? 'navbar-links active' : 'navbar-links inactive'" (click)="toggleNav()">
    <button  mat-icon-button  class="example-icon navbar-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-button routerLink="/">Home</button>  
    <button mat-button routerLink="/about">About</button>
    <button mat-button routerLink="/customers">Customers</button>
    <button mat-button routerLink="/orders">Orders</button>
    <button mat-button routerLink="/login">Login</button>
  </div> 
  <div>
    <!-- <span class="material-icons" [matBadge]="cartItems" matBadgeColor="warn" class="shopping_cart">
      shopping_cart
    </span> -->
    <button  mat-button class="shopping-cart-btn">
      <span class="material-icons " [matBadge]="cartItems" matBadgeColor="accent" routerLink="/checkout">
        shopping_cart
      </span>
    </button>
  </div>

</mat-toolbar>
<div class="category-panel">
  <div class="category-panel--item">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </div>
</div>
  <div class= "content-display-container">
    <router-outlet></router-outlet>
  </div>
