<mat-toolbar color="primary" class="nav-bar">
  <button (click)="toggleNav()" mat-icon-button class="navbar-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <div  [className]="navToggle ? 'navbar-links active' : 'navbar-links inactive'" (click)="toggleNav()">
    <button  mat-icon-button  class="example-icon navbar-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-button routerLink="/">Home</button>  
    <button mat-button routerLink="/about">About</button>
    <button mat-button routerLink="/customers">Customers</button>
    <button mat-button routerLink="/orders">Orders</button>
  </div> 
  <div>
    <!-- <span class="material-icons" [matBadge]="cartItems" matBadgeColor="warn" class="shopping_cart">
      shopping_cart
    </span> -->
    <span class="material-icons shopping_cart" [matBadge]="cartItems" matBadgeColor="accent" >
      shopping_cart
      </span>
  </div>

</mat-toolbar>

  <router-outlet></router-outlet>