.card-content {
    display: flex;
    justify-content: center;

    img {
        width: 15%;   
        height: auto;
        margin: 8px;
        padding: 16px;
    }

    .card-content-text {
        margin: 8px;
        padding: 16px;
        text-align: justify;
    }


}

.card-content-action-btn {
    text-align: end;
    margin: 8px;
    padding: 16px;

    button {
        border: 1px solid blue;
    }
}