<div>
    <div class="home-banner">
        <div class="banner-img">
            <img src="./../assets/Amdavad-Shopping-Festival-2019.jpg" alt="">
        </div>
        <div class="home-banner-text">
            <h3>
                Biggest Shopping festival
            </h3>
            <h5>
                More you shop, more discount you get !!
            </h5>
            <button mat-button class="banner-text-btn"> Explore More</button>
        </div>
    </div>
    <div class="card-display-container">

        <mat-spinner *ngIf="products.length === 0" class="spinner-class"></mat-spinner>
        <div class="category-container">
            <mat-select (selectionChange)="showSelectedCategory($event)" class="display-category"  *ngIf="category.length !== 0" [(value)]="selected">
                <mat-option value="showAll">Show All</mat-option>
                <mat-option  value="{{product}}" *ngFor="let product of category">
                  {{product}}
                </mat-option>
            </mat-select>
        </div>
        <div class="card-container" >
            <mat-card *ngFor="let product of products" class="display-card" [routerLink]="['/products',product.ean]">
                <!-- <img  mat-card-md-image src="{{ product.image }}" class="card-image"/> -->
                <div class="img" style="background-image: url({{product.image}}) ; background-size: cover;"></div>
                <mat-card-header class="display-card-header">
                    <mat-card-title>{{product.name}}</mat-card-title>
                    <mat-card-subtitle>{{product.net_price |  currencyLocal: 'inr' | currency:'INR'}} 
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="card-content">
                    
                    <p class="card-content-text">
                        {{product.description}}
                    </p>
                </mat-card-content>
                <mat-card-actions class="card-content-action-btn">
              <button mat-button (click)="addToCart(product)"> <span class="material-icons">
                add_shopping_cart
                </span>Add to Cart</button>
                <button mat-button (click)="removeFromCart(product)"> 
                    Remove from Cart</button>
            </mat-card-actions>
            </mat-card>
        </div>

    </div>
</div>