<div style="padding: 13px;">
    <div class="home-banner">
        <div class="banner-img">
            <img src="./../assets/Amdavad-Shopping-Festival-2019.jpg" alt="">
        </div>
        <div class="home-banner-text">
            <h3>
                Biggest Shopping festival
            </h3>
            <h5>
                More you shop, more discount you get !!
            </h5>
            <button mat-button class="banner-text-btn"> Explore More</button>
        </div>
    </div>
    <div class="card-display-container">
        <mat-spinner *ngIf="products.length === 0" class="spinner-class"></mat-spinner>

        <mat-card *ngFor="let product of products" class="display-card">
            <mat-card-header>
                <mat-card-title>{{product.title}}</mat-card-title>
                <mat-card-subtitle>{{product.price}} $
                </mat-card-subtitle>
            </mat-card-header>
            <img  mat-card-md-image src="{{ product.image }}" />
            <mat-card-content class="card-content">
                
                <p class="card-content-text">
                    {{product.description}}
                </p>
            </mat-card-content>
            <mat-card-actions class="card-content-action-btn">
          <button mat-button > Buy product</button>
        </mat-card-actions>
        </mat-card>
    </div>
</div>