<div style="padding: 13px;">
    <mat-spinner *ngIf="products.length === 0"></mat-spinner>

    <mat-card *ngFor="let product of products" style="margin-top:10px;">
        <mat-card-header>
            <mat-card-title>{{product.title}}</mat-card-title>
            <mat-card-subtitle>{{product.price}} $
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content">
            
            <img  src="{{ product.image }}" />
            <p class="card-content-text">
                {{product.description}}
            </p>
        </mat-card-content>
        <mat-card-actions class="card-content-action-btn">
      <button mat-button > Buy product</button>
    </mat-card-actions>
    </mat-card>
</div>